Package: vyatta-service-lldp-v1-yang
Source: vyatta-lldp
Version: 0.44
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 19
Depends: vyatta-lldp (= 0.44)
Section: admin
Priority: optional
Description: vyatta-service-lldp-v1 module
 The YANG module for vyatta-service-lldp-v1
